@model StudentCreateRequest

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Students</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            Create
        </a>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">

            <form method="post" asp-action="create" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="BirthDate" class="control-label"></label>
                        <input asp-for="BirthDate" class="form-control" type="date" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="GroupId" class="control-label"></label>
                        <select asp-for="GroupId" class="form-control">
                            <option value="">Select Group</option>
                            @foreach (var group in ViewBag.Groups)
                            {
                                <option value="@group.Id">@group.No</option>
                            }
                        </select>
                        <span asp-validation-for="GroupId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" class="form-control-file" type="file" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @Html.Partial("_ValidationScriptsPartial")
}